//light mode colors;

$violetblue: #0079FF;
$violetgray: #697C9A;
$darkviolet: #4B6A9B;
$verydarkviolet: #2B3442;
$almostwhite: #F6F8FF;
$whitestalmostwhite: #FEFEFE;

//dark mode colors: 
$almostdark: #141D2F;
$darkdarkviolet: #1E2A47;

//font: 
$font: 'Space Mono', monospace;

// <div class="ipInfoWrapper">
// <div class="dataWrapper">
//   <p class="dataTitle">IP ADDRESS</p>
//   <p class="data">{{ userIP.ip }}</p>
// </div>
// <div class="dataWrapper">
//   <p class="dataTitle">LOCATION</p>
//   <p class="data">{{ userIP.region }}, {{ userIP.city }} {{ userIP.postal }}</p>
// </div>
// <div class="dataWrapper">
//   <p class="dataTitle">TIMEZONE</p>
//   <p class="data">{{ userIP.time_zone?.abbr }} {{ userIP.time_zone?.offset }}</p>
// </div>
// <div class="dataWrapper">
//   <p class="dataTitle">ISP</p>
//   <p class="data">{{ userIP.asn?.name }}, {{ userIP.carrier?.name }}</p>
// </div>
// </div>