//light mode colors;

$violetblue: #0079FF;
$violetgray: #697C9A;
$darkviolet: #4B6A9B;
$verydarkviolet: #2B3442;
$almostwhite: #F6F8FF;
$whitestalmostwhite: #FEFEFE;

//dark mode colors: 
$almostdark: #141D2F;
$darkdarkviolet: #1E2A47;

//font: 
$font: 'Space Mono', monospace;

